.form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.form div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.labelDescription {
  opacity: 0.9;
  font-size: 1.25em;
}

.inputData {
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0.4em;
  background: none;
  height: 3em;
  padding: 0 0.5em;
  font-size: 1em;
  color: #fff;
}

.inputData::placeholder {
  color: #fff;
  opacity: 0.6;
}

.inputData:focus {
  outline: none;
  border: 2px solid #fff;
}

.submitBtn {
  border: none;
  background: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0.5em;
  outline: 4px solid rgba(0, 0, 0, 0.3);
  padding: 0.75em 0;
  transition: 0.3s ease;
}

.submitBtn:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* ------ USER SECTION ----- */
.toggleForm {
  background: none;
  cursor: pointer;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  transition: 0.3s ease all;
}

.toggleForm:hover {
  background: rgba(0, 0, 0, 0.3);
}

.messageContainer {
  max-width: 20rem;
  text-align: center;
  text-wrap: balance;
  display: flex;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 1rem;
}
