.outline {
  outline: 2px solid #9b92ff;
  border-radius: 0.75em;
  padding: 0.5em;
  font-size: 1.25em;
}

@media (max-width: 400px) {
  .outline {
    outline: none;
    border-radius: 0;
    padding: 0.5em;
    font-size: 1em;
  }
}
