.table {
  text-align: center;
}

.headerRow {
  text-transform: uppercase;
  background: #946dced2;
}

.bodyRow {
  width: 10em;
  outline: 1px solid #946dce;
  padding: 0.5em;
}

.link {
  cursor: pointer;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (width <= 750px) {
  .bodyRow {
    font-size: 0.9rem;
  }
}

@media (width <= 450px) {
  .bodyRow {
    font-size: 0.8rem;
  }
}

@media (width <= 375px) {
  .bodyRow {
    font-size: 0.7rem;
  }
}
