/*
    Seccion Cabecera - Logo del banco
*/
.cabecera{
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.contenedor_logo{
    margin: .5em 0;
    width: 12em;
    display: flex;
    align-items: center;
}

.logo_itbank{
    min-width: 10em;
    width: 100%;
    height: auto;
}

.navegacion{
    margin: 0 .5em;
    text-align: center;
    font-size: 1.15em;
    display: flex;
    gap: .5em;
}

.navegacion a{
    width: 7em;
    transition: .2s ease;
    border-radius: .5em;
    padding: .25em;
}

.navegacion a:hover{
    background: rgba(0, 0, 0, .4);
}

@media (max-width: 550px){
    .cabecera{
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
    }
}