/* ------ WRAPPER OF HEADER - MAIN ------ */
.wrapperContainer{
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 9rem 1fr;
}

/* ------ HERO SECTION ------ */
.heroSection{
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    gap: 2rem;
}

.heroSection__titles{
    background: linear-gradient(360deg, #3339, transparent 100%);
    width: 35em;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.heroSection__titles h1{
    font-size: 2.5em;
}

.heroSection__titles h2{
    font-size: 2.25em;
    opacity: .8;
}

.heroSection__carrousel{
    border-radius: 2rem;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.heroSection__image{
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.heroSection__titles p{
    text-align: center;
    padding: 0 2rem;
    color: #fff;
    font-size: 0.90em;
    text-wrap: balance;
    font-weight: 300;
    line-height: 1.75em;
}

/* ------ MEDIA QUERIES ------ */
/* @media (max-width: 820px){
} */

/* @media (max-width: 600px){
} */

/* @media (max-width: 380px){
} */

/* @media (max-width: 280px){
} */