.contenedorCartas {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}

.carta {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 9px;
  color: whitesmoke;
  width: 400px;
}

.detalles {
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
  padding: 20px;
}

.boton {
  background-color: #555;
  margin: 0.25rem 0;
  padding: 0.5rem;
  width: 300px;
  border-color: darkslategray;
  border-radius: 5px;
}
