.formulario{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.formulario div{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.label_descripcion{
    opacity: .9;
    font-size: 1.25em;
}

.campo_datos{
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: .4em;
    background: none;
    height: 3em;
    padding: 0 .5em;
    font-size: 1em;
    color: #fff;
}

.campo_datos::placeholder{
    color: #fff;
    opacity: .6;
}

.campo_datos:focus{
    outline: none;
    border: 2px solid #fff;
}

.btn_enviar_datos{
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    border-radius: .5em;
    outline: 4px solid rgba(0, 0, 0, .3);
    padding: .75em 0;
    transition: .3s ease;
}

.btn_enviar_datos:hover{
    background: rgba(0, 0, 0, .3);
}