.privacyPageContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section {
  margin-bottom: 2rem;
}

.sectionTitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #000;
}

.paragraph {
  line-height: 1.6;
  font-size: 1rem;
  color: #000;
}

.list {
  list-style-type: disc;
  margin-left: 2rem;
}

.listItem {
  font-size: 1rem;
  color: #000;
  margin-bottom: 0.5rem;
}

@media (width < 600px) {
  .title {
    font-size: 2rem;
  }

  .sectionTitle {
    font-size: 1.15rem;
  }

  :is(.paragraph, .listItem) {
    font-size: 0.9rem;
  }
}

@media (width < 300px) {
  .title {
    font-size: 1.5rem;
  }
}
