.container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.userActions {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.depositIcon {
  background: url(../../../public/icons8-iniciar-la-transferencia-de-dinero-32.png)
    no-repeat center center;
  background-size: 1em;
}

.transferIcon {
  background: url(../../../public/icons8-flujo-de-fondos-32.png) no-repeat center
    center;
  background-size: 1em;
}

.withdrawIcon {
  background: url(../../../public/icons8-solicitud-de-dinero-32.png) no-repeat
    center center;
  background-size: 1em;
}

.cvuIcon {
  background: url(../../../public/icons8-chequera-32.png) no-repeat center center;
  background-size: 1em;
}
