/* ------ BANK FOOTER SECTION ------ */
.footer {
  padding: 3rem 5rem;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    'description description'
    'contact contact'
    'form links';

  .description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: description;
    font-weight: 600;
    font-size: 1.1rem;

    .text {
      text-align: center;
      text-wrap: balance;
    }
  }

  .formContainer {
    grid-area: form;
  }

  .contactContainer {
    grid-area: contact;
  }

  .linksContainer {
    grid-area: links;
  }
}

.btnPadding {
  padding: 0.5rem 1rem;
}

.btnBg {
  background-color: #3339;
  flex-grow: 2;
}

/* ------ MEDIA QUERIES ------ */
@media (max-width: 820px) {
  .wrapperInfo {
    display: flex;
    flex-direction: column;
  }
}

@media (width <= 850px) {
  .footer {
    padding: 2rem;
    grid-template-areas:
      'description'
      'contact'
      'form'
      'links';

    .description {
      font-size: 0.9rem;
    }
  }
}
