.container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.visibled,
.noVisibled {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.visibled {
  background: url(../../public/icons8-visible-32.png) no-repeat center center;
}

.noVisibled {
  background: url(../../public/icons8-ocultar-32.png) no-repeat center center;
}
