/* Caja Pie de Pagina */
.mas__informacion{
    grid-column: 2 / 3;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    gap: 1em;
}

.mas__informacion article{
    flex: 2;
}

.mas__informacion article p{
    font-size: .9em;
    opacity: .9;
}

.mas__informacion h4{
    text-transform: uppercase;
    opacity: .6;
    font-weight: 300;
    align-self: center;
}

.mas__informacion ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.mas__informacion ul li a,
.mas__informacion p {
    font-size: .75em;
    font-weight: 100;
    letter-spacing: 1px;
}
.p__de__bienvenida{
    padding: 0 .5em;
    font-size: 1.22em;
}
.p__de__bienvenida1, 
.p__de__bienvenida2,
.p__de__bienvenida3{
    padding: 20px;
}