.formulario,
.formulario div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formulario h2{
    text-align: center;
}

.formulario{
    margin: 0 auto;
    width: 70%;
    padding: 1.25em;
    gap: 1em;
    background: rgba(0, 0, 0, .5);
}

.formulario div label{
    font-size: 1.15em;
    margin-bottom: .25em;
}

.formulario div input{
    border: none;
    font-size: 1.25em;
    padding: .5em;
}

.formulario div input:focus{
    outline: none;
}

.btn_calcular_prestamo{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    padding: 1em;
    background: #fff;
    border: none;
    transition: .1s ease;
}

.btn_calcular_prestamo:hover{
    background: rgba(0, 0, 0, .5);
    color: #fff;
}
.btn_calcular_prestamo:active{
    background: rgba(0, 0, 0, .3);
}

.resultado{
    background: rgba(0, 0, 0, .4);
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.resultado h3,
.resultado span{
    font-size: 1.25em;
}