.contenedor_tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 20em));
  gap: 1em;
  justify-content: center;
}

.detalles_tarjeta {
  align-self: center;
  font-size: 1.25em;
}

.tabla_detalles_tarjeta {
  border-radius: 0.5em;
  margin: 1em auto;
  background: rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
}

.tabla_detalles_tarjeta tr td {
  padding: 0.5em 1em;
}
