.header{
    display: flex;
    align-items: center;
    gap: 1em;
}

.btn_volver_tarjetas{
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding: .25em .5em;
    width: max-content;
    border-radius: .5em;
}

.btn_volver_tarjetas:hover{
    background: rgba(0, 0, 0, .4);
}